{% if site.data.settings.articles.enable %}
<!-- begin articles -->
<section class="section articles">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            {% if site.data.settings.articles.articles_title %}
              <h2 class="section__title">
                <i class="fas fa-newspaper"></i> {{ site.data.settings.articles.articles_title }}
              </h2>
              
              <a class="section__link" href="{{ '/publications' | relative_url }}">Read all <i class="fa-solid fa-arrow-right-long"></i></a>
            {% else %}
              <h2 class="section__title">Articles</h2>
            {% endif %}
          </div>
          <!-- <p class="section__description">{{ site.data.settings.articles.articles_description }}</p> -->
          <div class="articles-content">
            <ul>
              <li>
                <p>Walter J. Nicholls and Ashley Hernandez (2023). <a href="https://journals.sagepub.com/doi/10.1177/14730952231203098"><span>The Contradictory Field of Community Organizing in the United States: A Theoretical Framework.</span></a> <i>Planning Theory.</i></p>
              </li>
              <li>
                <p>Susan Coutin and Walter J. Nicholls (2023). <a href="https://www.cambridge.org/core/journals/law-and-social-inquiry/article/adminigration-citylevel-governance-of-immigrant-community-members/96F5FBF64D291C01453ABBE58898C2CF"><span>Adminigration: City-level Governance of Immigrant Community Members.</span></a> <i>Journal of Law and Social Inquiry, 1-30.</i></p>
              </li>
              <li>
                <p>Tara Fiorito and Walter Nicholls (equal authorship, authors listed in alphabetical order) (2023). <a href="https://www.journals.uchicago.edu/doi/epdf/10.1086/726582"><span>Representational Hierarchies in Social Movements: A Case Study of the Undocumented Immigrant Youth Movement.</span></a> <i>American Journal of Sociology, 129(2): 485-529.</i></p>
              </li>
              <li>
                <p>Walter J. Nicholls and Marieke de Wilde (2023). <a href="https://doi.org/10.1016/j.polgeo.2022.102776"><span>Contentious immigration politics in a multijurisdictional field: A case study of Orange County, California.</span></a> <i>Political Geography, 100: 2-14.</i></p>
              </li>
              <li>
                <p>Walter Nicholls (2024). <a href="https://doi.org/10.1111/1468-2427.13275"><span>‘SANCTUARY FOR ALL’ OR ‘SANCTUARY FOR THE DESERVING’: How Municipal Bureaucracies Mediate and Decide Contentious Struggles over Urban Citizenship.</span></a> <i>International Journal of Urban and Regional Research.</i></p>
              </li>
            </ul>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end articles -->
{% else %}
<!-- Debug Information: Articles section is disabled -->
<p>Articles section is disabled in settings.</p>
{% endif %}
