{% if site.data.settings.update.enable %}
<!-- begin updates -->
{% include lang.html %}


<section class="section updates">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            {% if site.data.settings.updates.updates_title %}
              <h2 class="section__title">
                <a href="{{ site.data.settings.updates.updates_page_url }}">{{ site.data.settings.updates.updates_title }}</a>
              </h2>
              <a class="section__link" href="{{ '/update' | relative_url }}">View all <i class="fa-solid fa-arrow-right-long"></i></a>
            {% else %}
              <h2 class="section__title">Updates</h2>
            {% endif %}
          </div>
          {% if site.data.settings.updates.updates_description %}
            <p class="section__description">{{ site.data.settings.updates.updates_description }}</p>
          {% else %}
            <p class="section__description">No description provided for updates.</p>
          {% endif %}
        </div>

        <div id="archives" class="pl-xl-3">
          {% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
          {% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}

          {% assign last_year = nil %}
          {% assign limited_posts = site.posts | sort: 'date' | reverse | slice: 0, 5 %}
          
          <ul>
            {% for post in limited_posts %}
              {% assign cur_year = post.date | date: '%Y' %}
              
              {% if cur_year != last_year %}
                <time class="year lead d-block text-center my-4">{{ cur_year }}</time>
                <ul class="list-unstyled"> 
                {% assign last_year = cur_year %}
              {% endif %}
              
              <li>
                {% assign ts = post.date | date: '%s' %}
                <span class="date day" data-ts="{{ ts }}" data-df="DD">{{ post.date | date: '%d' }}</span>
                <span class="date month small text-muted ms-1" data-ts="{{ ts }}" data-df="{{ df_dayjs_m }}">
                  {{ post.date | date: df_strftime_m }}
                </span>
                <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
              </li>

            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end updates -->
{% else %}
<!-- Debug Information: Updates section is disabled or data not available -->
<p>Updates section is disabled or there was an issue loading the data.</p>
{% endif %}
