{% if site.data.settings.videos_settings.enable == true %}
<!-- begin videos -->
<section class="section videos">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title"><i class="fa-solid fa-film"></i> {{ site.data.settings.videos_settings.videos_title }}</h2>
              <a class="section__link" href="{{ '/videos' | relative_url }}">View all <i class="fa-solid fa-arrow-right-long"></i></a>
            </div>
            {% if site.data.settings.videos_settings.videos_description %}
              <p class="section__description">{{ site.data.settings.videos_settings.videos_description }}</p>
            {% endif %}
          </div>

          <div class="playlist-container">
            <!-- Video Player Section -->
            <div id="video-player" class="video-player">
              <iframe id="video-frame" width="100%" height="100%" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          
            <!-- Video List Section -->
            <ul class="video-list">
              <h2 class="film-section">Choose a Talk</h2>
              <li class="video-item" onclick="changeVideo(0)">
                Cities and Social Movements <span class="playing-indicator" id="indicator-0">✔</span>
                <span class="paused-indicator" id="paused-0">❚❚</span>
                <span class="stopped-indicator" id="stopped-0">⏹</span>
              </li>
              <li class="video-item" onclick="changeVideo(1)">
                Make the City <span class="playing-indicator" id="indicator-1">✔</span>
                <span class="paused-indicator" id="paused-1">❚❚</span>
                <span class="stopped-indicator" id="stopped-1">⏹</span>
              </li>
              <li class="video-item" onclick="changeVideo(2)">
                Civil Rights Movements <span class="playing-indicator" id="indicator-2">✔</span>
                <span class="paused-indicator" id="paused-2">❚❚</span>
                <span class="stopped-indicator" id="stopped-2">⏹</span>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
<!-- end videos -->
{% endif %}