{% if site.data.settings.updates.enable %}
<!-- begin updates -->
<section class="section updates">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="section__info">
          <div class="section__head">
            {% if site.data.settings.updates.updates_title %}
            <h2 class="section__title">
              <i class="fa-duotone fa-solid fa-file-pen"></i> {{ site.data.settings.updates.updates_title }}
            </h2>
            <a class="section__link" href="{{ '/updates' | relative_url }}"> View all updates <i class="fa-solid fa-arrow-right-long"></i></a>
            {% else %}
              <h2 class="section__title">Updates</h2>
            {% endif %}
          </div>
          {% if site.data.settings.updates.updates_description %}
            <p class="section__description">{{ site.data.settings.updates.updates_description }}</p>
          {% else %}
            <p class="section__description">No description provided for updates.</p>
          {% endif %}
        </div>

        <div class="timelinee">
          <div class="timeline-container">
      
              <div class="timeline">
                  {% for update in site.data.settings.updates-item %}
                      <div class="event">
                          <div class="year-label">{{ update.year }}</div>
                          {% for event in update.events %}
                              <div class="event">
                                  {% if event.date %}
                                      <div class="event-date">{{ event.date }}</div>
                                  {% endif %}
                                  <div class="event-content">
                                      {{ event.content }}
                                  </div>
                              </div>
                          {% endfor %}
                      </div>
                  {% endfor %}
              </div>
          </div>
        </div>
      
        
      </div>
    </div>
  </div>
</section>
<!-- end updates -->
{% else %}
<!-- Debug Information: Updates section is disabled or data not available -->
<p>Updates section is disabled or there was an issue loading the data.</p>
{% endif %}
