/* Variables */
$mobile: 1024px;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 352px;
    background-color: var(--background-alt-color);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    transition: transform 0.3s ease;

    ul {
        list-style-type: none;
        padding: 0;

        li {
            margin-bottom: 20px;

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                font-size: 18px;
                color: var(--text-color);
                transition: color 0.3s ease;

                i {
                    margin-right: 8px;
                }

                &:hover {
                    color: var(--link-color-hover);
                }
            }
        }
    }

    .author__info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        padding-left: 32px;
        margin-bottom: 19px;
        margin-top: 60px;

        @media (max-width: $mobile) {
            padding-left: 0px;
            margin-top: 30px;
        }
    }

    .close-btn {
        display: none;
    }

    @media (max-width: $mobile) {
        top: 57px;
        height: calc(100% - 60px);
        transform: translateX(-100%);

        &.open {
            transform: translateX(0);
        }

        .close-btn {
            display: block;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
            color: var(--text-color);
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}
.menu-title {
    color: black;
}

.mobile-header {
    display: none;
    z-index: 1001;

    @media (max-width: $mobile) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FFD200;
        padding: 10px 20px;
        color: white;
        font-size: 18px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1001;

        .menu-title {
            font-weight: bold;
        }

        .sidebar-toggle {
            font-size: 24px;
            cursor: pointer;
            color: black;
            z-index: 1001;
        }

        .social-links {
            margin-top: auto;
            padding-top: 20px;
            display: flex;
            justify-content: space-around;
        }
    }
}

.content {
    margin-left: -34px;
    transition: margin-left 0.3s ease;

    @media (max-width: $mobile) {
        margin-left: 0;
    }
}

a.active {
    color: white;
    background-color: #FFD200;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
}

.dropdown-toggle {
    margin-left: 131px;
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
}


